.thumbnails {
  display: flex;
  justify-content: start;
}

.thumbnail {
  position: relative;
  /* width: 50px; */
  height: 35px;
  /* border-radius: 8px; */
  overflow: hidden;
}

tbody:hover {
  background-color: e0ffff;
}
